@import "tailwindcss";

:root {
  --background: #ecd9d9;
  --foreground: #171717;}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #f1e2e2;
  }
}


h1,h2,h3 {
  letter-spacing: -0.02em;
}
